body {
  background-color: rgb(253, 251, 251);
  color: blueviolet;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12px;
  line-height: 15px;

}

#cabecalho {
  background-color: sandybrown;
  border: black 3px;
  border-style: solid;
  margin: 20px;
  padding: 15px;
  position: fixed;
  top: 0;
}
