body {
  background-color: rgb(253, 251, 251);
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

#cabecalho {
  background-color: sandybrown;
  border: black 3px;
  border-style: solid;
  margin: 20px;
  padding: 15px;
  position: fixed;
  top: 0;
}

#minha_foto {
  margin-top: 130px;
}

.lado-direito {
  width: 40%;
  float: right;
  border: solid;
  padding: 10px;
}

.lado-esquerdo {
  width: 40%;
  float: left;
  border: solid;
  padding: 10px;
}

#rodape {
  margin-top: 180px;
}
